<!-- About Me -->
<section id="card_top" class="page-section card card-body">
<div class="container text-center mb-3" id="About">
  <div class="row">
      <img class="col-md-4 rounded-circle img-fluid " src="assets/img/logo.png">
    <div class="col-sm-8">
      <h1 class="text-secondary">Hyunsu Kim</h1>
      <h4 class="text-secondary">Web Developer</h4>
    </div>
  </div>
</div>
</section>

<!-- Projects -->
<section class="page-section bg-light card card-body" id="Projects">
  <div class="container">
<div class="container">
  <h2 class="page-section-heading text-center text-uppercase text-secondary">Projects</h2>
 <ul class="list-group list-group-flush" *ngFor="let post of posts">
    <li class="card card-body mb-1">
      <div class="row">
        <div class="col-6"><h2>{{ post.projectName }}</h2></div>
        <div class="col-6"><h5 class="float-right">{{ post.term }}</h5></div>
      </div>
      <p class="text-black-50 mb-0">{{ post.language }}</p>
      <p class="text-black-50 mb-0">{{ post.description }}</p>  
      <div *ngIf="userIsAuthenticated && userId === post.creator">
        <button (click)="onDelete(post.id)" class="btn text-white btn-xl text-uppercase float-right" style="background-color: #5fbae9;">delete</button>
        <button class="btn text-white btn-xl text-uppercase float-right mr-2" style="background-color: #5fbae9;" [routerLink]="['/edit', post.id]">Edit</button>
      </div>
    </li>
 </ul>
</div>

<div class="container">
<!-- <button (click)="showAddPostForm = !showAddPostForm" class="btn text-white btn-xl text-uppercase float-right mt-2" style="background-color: #5fbae9;">New Post</button> -->
<a *ngIf="userIsAuthenticated" class="btn text-white btn-xl text-uppercase float-right mt-2" style="background-color: #5fbae9;" routerLink="/create">New Post</a>
</div>
</div>
</section>

<!-- Skills -->
<section class="page-section card card-body">
  <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-secondary">Skills</h2>
      <ul class="list-group list-group-flush">
        <li class="card card-body mb-1">
          <div class="row">
            <div class="col-4"><img class="rounded-sm h-75 float-middle" src="assets/img/java.png"></div>
            <div class="col-4"><img class="rounded-sm h-75" src="assets/img/nodejs.png" ></div>
            <div class="col-4"><img class="rounded-sm h-75" src="assets/img/angular.png" ></div>
          </div>
        </li>
      </ul>
      <div class="text-center mt-4">
        <button class="btn text-white btn-xl text-uppercase float-center" style="background-color: #5fbae9;" type="submit">Send Message</button>
      </div>
  </div>
</section>
